$defaultFontSize: 16px;
$primary-color: #0098d3; 
$primary-color-hover: #0280b3; 

$menu_color: #252527;

$font-light : #fff ; 
$fant-grey-light:  #e8e8e8;
$font-grey: #808080;
$font-grey-dark: #000;
$font-dark-ligth: #252527;
$font-dark: #000; 

$border-light: #fff;
$border-grey-light: #e8e8e8;
$border-grey: #808080;
$border-grey-dark: #595959;
$border-dark-ligth: #252527;
$border-dark: #000;

$background-light: #fff;
$background-grey-light: #e8e8e8;
$background-grey: #808080;
$background-grey-dark: #595959;
$background-dark-ligth: #252527;
$background-dark: #000;

$success: #84b84c; 
$error: #f00;

/* Breackpoint estandarizados:
Móviles: entre 320 y 480 pixeles
Tablets: entre 768 y 1024 pixeles
Pantallas grandes: mas de 1200 pixeles*/

$media-breackpoint-dowl-xs: 413.98px;
$media-breackpoint-down-sm: 573.98px;
$media-breackpoint-down-md: 767.98px;
$media-breackpoint-down-lg: 991.98px;
$media-breackpoint-down-xl: 1199.98px;

$media-breackpoint-up-xs: 320px;
$media-breackpoint-up-sm: 576px;
$med1a-breackpoint-up-md: 768px;
$media-breackpoint-up-lg: 992px;
$med1a-breackpoint-up-x1: 1200px;